@import '~bootstrap/scss/bootstrap';

body {
  background-color: #9bd3b4;
}

h1 {
  display: flex;
  color: #4b7acc;
  justify-content: center;
}

h2 {
  display: flex;
  color: #4b7acc;
  justify-content: center;
}

p {
  display: flex;
  color: white;
  justify-content: center
}

#hide-on-load {
  display: none
}

#message {
  font-size: 35px;
}

#update-game {
  font-size: 35px;
}

#game-board-created {
  font-size: 35px;
}

#stop-click {
  font-size: 35px;
}

#game-over {
  font-size: 35px;
}

// .play-again {
//   display: none;
// }

// .game-over {
//   display: none;
// }

.authenticated {
  display: flex;
  align-items: center
}

.box {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  color: #4b7acc;
  display: flex;
  height: 80px;
  justify-content: center;
}

.alt-color {
  background-color: green;
}
